.container {
    display: flex;
    flex-direction: row; /* Postavlja horizontalni raspored */
    justify-content: space-between; /* Razmak između sadržaja i bočne trake */
  }
  
.router {
flex: 1;
}

.ticket {
width: 300px;
}