@import '@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-indigo);

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
  
mat-panel-title {
    color: rgba(0, 0, 0, 0.54);
    flex: 0 0 5%;
    min-width: 4em;
}

mat-panel-description {
    color: black;
}

.sport-name {
    display: flex;
    align-content: flex-start;
    align-items: center;
}

.sport-name-text {
    padding-top: 16px;
    padding-left: 16px;
}

.sport-name-button {
    margin-left: 8px;
    height: 30px;
    font-size: smaller;
}

.button-icon {
    margin-right: 4px !important;
}

.games {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-content: center;

    margin: 8px;
    color:white;
    background-color: mat-color($primary);
    padding: 8px;
    padding-bottom: 0px;
    border-radius: 25px;
}

.game-title {
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-bottom: 1em;
}

.subgames {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.subgames > * {
    width: 5em;
    margin: 0px 0.5em 0px 0.5em;
}

.send-tips-button {
    background-color:limegreen;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
}

.send-tips-button .button-icon {
    margin-left: 0.2em;
}